* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 12px;
  height: 5px;
  background-color: #000;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.5);
}